body {
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    text-align: center;
    zoom:1;
}
/*Mudança na barra de rolagem  https://pt.stackoverflow.com/questions/68928/como-estilizar-a-barra-de-rolagem*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: black;
}
h1{
    color: green;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}
.area{
    background-color: rgba(0, 0, 0, 0.438);
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1200px;
    border-radius: 10px;
    height: 700px;
}
table{
    position: relative;
    margin-left: 5%; 
    margin-top: 20px; 
    width: 90%;
    word-spacing: 1px;

}
input , .botao{
    border-radius: 10px;
    border: 0;
    font-size: 100%;
    margin-top: 5px;
}
input:hover{
    background-color: grey;
}

.botao:hover{
    background-color: rgb(77, 74, 74);
}
.botao{
    color: white;
    width: 90px;
    height: 25px;
    background-color: rgba(214, 214, 214, 0.589);
}
td:hover{
    color: green;
}
#referencia{
    position: relative;

}
.formulario{
    position: relative;
}
